.hero-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

span{
    position: relative;
}
span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 70px;
  height: 4px;
  background-color: #ab2322;
 
}
